﻿
@{
    ViewBag.Title = "Videos";
}

<h2>Videos</h2>
<div class="right-content">
    <div class="right-content-heading">
        <div class="right-content-heading-left">
            <h3 class="head">Latest Colletcion of videos</h3>
        </div>
    </div>
    <!-- pop-up-box -->
    <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });
        });
    </script>

    <!--//pop-up-box -->

    <div class="content-grids">
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="~/image/gridallbum1.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="#"><img src="~/image/likes.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/views.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
        </div>
        <div id="small-dialog" class="mfp-hide">
            <iframe src="https://www.youtube.com/embed/2LqzF5WauAw" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="~/image/gridallbum2.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="#"><img src="~/image/likes.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/views.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
        </div>
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="~/image/gridallbum3.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="#"><img src="~/image/likes.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/views.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
        </div>
        <div class="content-grid last-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="~/image/gridallbum4.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="#"><img src="~/image/likes.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/views.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
        </div>
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="~/image/gridallbum5.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="#"><img src="~/image/likes.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/views.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
        </div>
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="~/image/gridallbum6.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="#"><img src="~/image/likes.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/views.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
        </div>
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="~/image/gridallbum7.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="#"><img src="~/image/likes.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/views.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
        </div>
        <div class="content-grid last-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="~/image/gridallbum8.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="#"><img src="~/image/likes.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/views.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
        </div>
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="~/image/gridallbum9.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="#"><img src="~/image/likes.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/views.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
        </div>
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="~/image/gridallbum10.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="#"><img src="~/image/likes.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/views.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
        </div>
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="~/image/gridallbum11.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="#"><img src="~/image/likes.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/views.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
        </div>
        <div class="content-grid last-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="~/image/gridallbum1.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="#"><img src="~/image/likes.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/views.png" title="image-name" /></a></li>
                <li><a href="#"><img src="~/image/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
        </div>
        <div class="clearfix"> </div>
        <!---start-pagenation----->
        <div class="pagenation">
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <!---End-pagenation----->
    </div>
</div>
<div class="clearfix"> </div>
		